body {
  font-family: "Roboto", "YuGothic", "Yu Gothic", "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",
    "ＭＳ Ｐゴシック", "Osaka", "MS PGothic", "Arial", "Helvetica", "Verdana",
    sans-serif;
}

.root {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.menu {
  position: absolute;
  background-color: cornflowerblue;
  min-width: 100%;
  height: 40px;
  border-bottom: solid 1px midnightblue;
  display: flex;
}

.hspacer {
  flex-grow: 1;
}

.coordinateLabel {
  display: flex;
  flex-direction: column;
}

.coordinateValue {
  flex-grow: 0;
  line-height: 20px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
