body {
  font-family: "Roboto", "YuGothic", "Yu Gothic", "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",
    "ＭＳ Ｐゴシック", "Osaka", "MS PGothic", "Arial", "Helvetica", "Verdana",
    sans-serif;
}

.root {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.menu {
  position: absolute;
  background-color: cornflowerblue;
  min-width: 100%;
  height: 40px;
  border-bottom: solid 1px midnightblue;
  display: flex;
}

.hspacer {
  flex-grow: 1;
}

.menuItem {
  line-height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  color: midnightblue;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
}

.coordinateLabel {
  display: flex;
  flex-direction: column;
}

.coordinateValue {
  flex-grow: 0;
  line-height: 20px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

.billboardsLegendContainer {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  min-height: 100%;
  width: var(--billboardLegendWidth);
}

.billboardsLegendSpacer {
  flex-grow: 1;
  width: 0;
}

.billboardsLegend {
  display: flex;
  flex-direction: column;
  --billboardLegendWidth: 160px;
  background-color: white;
  width: var(--billboardLegendWidth);
  height: 100px;
  z-index: 999;
  margin-left: 10px;
  margin-bottom: 10px;
  border: solid 1px black;
}

.billboardsLegend-enter {
  opacity: 0;
}

.billboardsLegend-enter-active {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.billboardsLegend-enter-done {
  opacity: 1;
}

.billboardsLegend-exit {
  opacity: 1;
}

.billboardsLegend-exit-active {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.billboardsLegend-exit-done {
  opacity: 0;
}

.billboardsLegendCell {
  margin: 5px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}

.billboardsLegendColor {
  width: 40px;
  height: 20px;
  display: flex;
  margin-left: 10px;
  margin-right: 5px;
}
